
/* Common styles. */

.ir {
  overflow: hidden;
  text-indent: -500em;
}

/* Basics. */

body {
  padding: 20px 0 15px;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 600px;
  padding: 0 15px;
}

.header {
  margin-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
}

.footer {
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
  padding-top: 15px;
}

/* Brand. */

.logo {
  .ir;
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background: url(../images/logo-520-inv.png) no-repeat 0 0;
  background-size: 50px 50px;
}

/* Installer specific styling. */

.table.system-status-report tr.merge-up td {
  padding: 0 8px 8px;
}

/* Fix for Bootstrap theme. */

.radio input[type=radio],
.radio-inline input[type=radio],
.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox] {
  margin-left: 0;
}
